[Unit]
Description=ProxmoxLoadBalancer Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /opt/ProxmoxLoadBalancer/LoadBalancer.py
User=root
Group=root

[Install]
WantedBy=multi-user.target
